ul,li,body{
  list-style: none;
  padding: 0;
  margin: 0;
}
body{
  background: #F3F9FC;
}
.container {
  margin: 20px auto 30px;
  width: 1098px;
  box-sizing: border-box;
  overflow: hidden;
  .el-main{
    padding: 0;
    margin-left: 20px;
  }
  .el-collapse-item__content{
    padding-bottom: 0;
  }
}
.clearfix:after{
  display: block;
  clear: both;
  content: "";
  visibility: hidden;
  height: 0;
}
.clearfix{
  zoom:1;
}

.register-form{
  padding-bottom: 50px;
  margin-bottom: 50px;
}
.el-icon-search{
  width: 24px;
  height:100%;
  background: url("../assets/icons/seach.png") no-repeat center;
  &:before{
    display: none;
  }
}
.el-icon-user{
  width: 14px;
  height:100%;
  background: url("../assets/icons/user_name.png") no-repeat center;
  &:before{
    display: none;
  }
}
.el-icon-pwd{
  width: 14px;
  height:100%;
  background: url("../assets/icons/pwd.png") no-repeat center;
  &:before{
    display: none;
  }
}
.el-icon-code{
  width: 14px;
  height:100%;
  background: url("../assets/icons/code.png") no-repeat center;
  &:before{
    display: none;
  }
}
.icon-list{
  width: 10px;
  height:auto;
  background: url("../assets/icons/list-icon.png") no-repeat center;
}
.icon-i{
  width: 5px;
  height:auto;
  background: url("../assets/icons/i-gray.png") no-repeat center;
}
.icon-copy{
  width: 20px;
  height:20px;
  display: inline-block;
  vertical-align: middle;
  background: url("../assets/icons/copy.png") no-repeat center;
}
.icon-email-big{
  width: 30px;
  height:24px;
  display: inline-block;
  vertical-align: middle;
  background: url("../assets/icons/emai-bl.png") no-repeat center;
}
.icon-email-small{
  width: 15px;
  height:12px;
  display: inline-block;
  vertical-align: middle;
  background: url("../assets/icons/email.png") no-repeat center;
}
.icon-dunp{
  width: 15px;
  height:12px;
  display: inline-block;
  background: url("../assets/icons/yzm.png") no-repeat center;
}
.icon-play-btn{
  width: 48px;
  height:48px;
  display: inline-block;
  background: url("../assets/icons/play-light.png") no-repeat center;
}
.icon-tips{
  width: 16px;
  height:16px;
  display: inline-block;
  vertical-align: middle;
  background: url("../assets/icons/tips.png") no-repeat center;
}
.icon-plays{
  width: 7px;
  height:auto;
  background: url("../assets/icons/play.png") no-repeat center;
}
.is-play{
  .icon-i{
    background: url("../assets/icons/i-color.png") no-repeat center;
  }
  .icon-plays{
    width: 10px;
    background: url("../assets/icons/play-active.png") no-repeat center;
  }
}
.el-input-group__append, .el-input-group__prepend {
  background: transparent;
  vertical-align: middle;
  display: table-cell;
  position: relative;
  border: none;
  border-radius: 4px;
  padding: 0 20px;
  width: 1px;
  white-space: nowrap;
  right: 67px;
}


.icon-uploadm{
  display: inline-block;
  width: 22px;
  height: 22px;
  vertical-align: middle;
  background: url("../assets/icons/upload.png") no-repeat center;
}
.icon-clearm{
  display: inline-block;
  width: 22px;
  height:14px;
  vertical-align: middle;
  background: url("../assets/icons/clear.png") no-repeat center;
}


.icon-img{
  display: inline-block;
  width: 21px;
  height: 16px;
  background: url("../assets/icons/img.png") no-repeat center;
}
.icon-url{
  display: inline-block;
  width: 21px;
  height:16px;
  background: url("../assets/icons/url.png") no-repeat center;
}

.icon-add{
  display: inline-block;
  width: 20px;
  height:20px;
  vertical-align: middle;
  background: url("../assets/icons/add.png") no-repeat center;
}
